<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div ng-controller="MainCtrl as vm">
        {{vm.text}}
    </div>
  </body>
</html>
